.left-container {
    background-color: rgb(30, 33, 58);
    width: 299px;
    
}

.search-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.search-menu {
    background-color: rgb(110, 112, 122);
    color: white;
    width: 100px;
    display: flex;
    text-align: center;
    padding: 7px;
    border: none;
    font-size: 10px;
    font-weight: lighter;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    
}

.background-com-imagem {
    width: 100%; /* Defina a largura desejada */
    height: 200px; /* Defina a altura desejada */
    background-image: url('weather-app-master/weather-app-master/Cloud-background.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-sobreposta {
    height: 150px;
}

.div-temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.temperature {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.temperature > h1 {
    font-size: 88px;
    font-weight: lighter;
}

.temperature > h3 {
    font-size: 32px;
    font-weight: lighter;
    display: flex;
    align-items: center;
}

.climate {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.date-location {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date {
    margin-bottom: 20px;
    font-size: 10px;
    font-weight: lighter;
}

.location {
    font-size: 10px;
    font-weight: lighter;
}